*, *::before,*::after {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-size: 10px;
    line-height: 1.6;
}

/* this will wrap around entire page content to shift off the sides */
.container{
  width: 90%;
  margin: 0 auto;
}


/* style for navbar */
.navbar {
  width: 100%;
  position: relative;
  padding: 1.4rem;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* navbar links style */
.navbar.row .hide-in-mobile{
    display: none;
}

/* button */
.navbar a.btn {
    padding: 14px 22.4px;
}

.navbar a .button {
    background-color: red;
    color: #FAFAFA;
    border-radius: 5px;
    padding: 8px 28px;
}

/* hamburger menu */
.navbar .navbar__hamburger-menu {
    display: block;
    position: absolute;
    top: 1.4rem;
    right:0;
    float: right;
}
/* displays when hamburger menu clicked and the .mobile class is added */
.navbar.row.mobile .hide-in-mobile {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    padding: 1.4rem;
    font-size: 1.4rem;

}

@media screen and (min-width: 850px) {
  /* when screen size gets big enough, set display to flex and push categories away from company logo */
.row {
  display: flex;
  justify-content: space-between;
}

/* holds the icon in one column and the categories and hamburger menu icon in the other column */
.col {
  margin: auto;
}

/* take away padding that was used in mobile version since padding was applied to elements */
.navbar {
  padding: 0;
}

/* show categories when not in mobile version */
.navbar.row.mobile .hide-in-mobile,.navbar.row .hide-in-mobile {
    text-decoration: none;
    color: #333;
    display: inline-block;
    text-align: center;
    padding: 1.4rem;
    font-size: 1.4rem;
}


/* hamburger menu */
.navbar.row .navbar__hamburger-menu {
    display: none;
}

}