/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft Blue: hsl(231, 69%, 60%)
- Soft Red: hsl(0, 94%, 66%)

### Neutral

- Grayish Blue: hsl(229, 8%, 60%)
- Very Dark Blue: hsl(229, 31%, 21%)

## Typography

### Body Copy

- Font size: 18px

### Fonts

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500 */

:root {
  --soft__blue: hsl(231,69%, 60%);
  --soft__red: hsl(0, 94%, 66%);
  --grayish__blue: hsl(229, 8%, 60%);
  --dark__blue: hsl(229, 31%, 21%);
  --body__font-size: 18px;
}

*, *::before,*::after {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-size: 10px;
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
  max-width: 450px;
}

img {
  max-width: 100%;
}

hr {
  height: 2px;
  color: #333;
  width: 100%;
  max-width: 900px;
  display: block;
}

/* this will wrap around entire page content to shift off the sides */
.container{
  width: 60%;
  max-width: 1100px;
  margin: 0 auto;
}


/* style for navbar */
.navbar {
  width: 100%;
  position: relative;
  padding: 1.4rem;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* navbar links style */
.hide-in-mobile{
    display: none;
}

/* button */
.navbar a.btn {
    padding: 14px 22.4px;
}

.navbar a .button {
    background-color: red;
    color: #FAFAFA;
    border-radius: 5px;
    padding: 8px 28px;
}

/* hamburger menu */
.navbar.row .navbar__hamburger-menu {
    position: absolute;
    top: 1.4rem;
    right:0;
    float: right;
}

.navbar.row .navbar__hamburger-menu.open {
    display: block;
}

.navbar.row .navbar__hamburger-menu.close {
    display: none;
}

.hero__container {
  position: relative;
}

.blob {
  background-color: var(--soft__blue);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  width: 110%;
  height: 75%;
  position: absolute;
  top: 50px;
  right: -60%;
  z-index: -1;
}

/* displays when hamburger menu clicked and the .mobile class is added */
.mobile .hide-in-mobile {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.2rem;

}

.features-section {
  text-align: center;
}

.features-section p {
  margin: 0 auto 1.5rem auto;
}

.features {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.features__border {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #333;
  padding-bottom: 1.2rem;
}

.features__border:first-child {
  border-top: 1px solid #333;
  padding-top: 1.25rem;
}

.features__nav {
  border-bottom: 5px solid red;
  text-decoration: none;
  padding-bottom: 1rem;
  font-size: 21px;
  margin: 0 auto;
}

.features__tab {
  width: 100%;
}

.features__tab-container {
  margin: 20px auto;
}


@media screen and (min-width: 850px) {
  h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 1.2rem;
  max-width: 450px;

  
}

.container{
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}
  /* when screen size gets big enough, set display to flex and push categories away from company logo */
.row {
  display: flex;
  justify-content: space-between;
}

/* holds the icon in one column and the categories and hamburger menu icon in the other column */
.col {
  margin: auto;
}

/* take away padding that was used in mobile version since padding was applied to elements */
.navbar {
  padding: 0;
}

/* show categories when not in mobile version */
  .navbar.row .hide-in-mobile {
    text-decoration: none;
    color: #333;
    display: inline-block;
    text-align: center;
    padding: 1.4rem;
    font-size: 1.4rem;
}

/* hamburger menu */
.navbar.row .navbar__hamburger-menu.open,.navbar.row .navbar__hamburger-menu.close  {
    display: none;
}

/* hero section styling */
.hero {
  margin-top: 5em;
}

.blob {
  width: 110%;
  height: 60%;
  top: 100px;
  right: -60%;

}


.features {
  padding: 1em 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.features__border:first-child {
  border-top: none;
  padding-top: 0;
}

.features__border {
  border-bottom: none;
}

.features {
  border-bottom: 1px solid #333;
  padding-bottom: 0;
}


}
